{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    <body>Cancer patients usually receive multiple modalities of treatment, such as surgery,
radiation, and chemotherapy. In addition to damaging cancer cells, radiation and
chemotherapy also damage normal cells in the body, and can give rise to a wide
variety of side effects that overlap in time and space. These side effects include
nausea, body pain, skin changes, loss of sensation, bleeding, and elevated risk of
infection. Accurate recall of the timing and quality of side effects is essential for
oncologists to determine which treatments are poorly tolerated and need change
or re-dosing on an individual basis. However, distorted memory during such a
challenging period of patients lives often precludes thorough relaying of all
complaints at follow-up appointments. Many mobile apps have already been
created to address this problem, by allowing patients to log their daily symptoms
and produce longitudinal summary reports. Yet, these reports can be cumbersome
for physicians to review and then re-narrate (in visually unappealing prose format)
for existing electronic medical record systems.</body>
{% endblock content %}